/* MIXIN */

@mixin flex_all_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin margin_zero {
    margin: 0;
}

@mixin bouton_degrade_rose_violet_arrondi {
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    display: flex;
    width: 220px;
    height: 50px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 0px 10px 20px -13px #585858;
}

/* VARIABLE */

$background-color: #F6F6F6;

$font-bold: bold;

/* Global */

* {
    font-family: "Roboto", sans-serif;
}

body{
    @include margin_zero;
}

/*Header*/

h1{
    font-family: "Shrikhand", serif;
    @include flex_all_center;
    margin: 0.5rem;
}

/* Localisation + Explication */

.place{
    @include flex_all_center;
    background-color: #EAEAEA;
    gap: 1rem;
    box-shadow: 0px 0px 10px -1px #585858;
}

.place i{
    color: #353535;
}

.place p{
    font-weight: $font-bold;

}

.reservation{
    background-color: $background-color;
    @include flex_all_center;
    flex-direction: column;
}

.reservation h2{
    @include margin_zero;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    font-size: 24px;

}

.reservation p{
    font-weight: 300;
    text-align: center;
    font-size: 18px;
}

.reservation_bouton {
    @include bouton_degrade_rose_violet_arrondi;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.reservation_bouton a{
    text-decoration: none;
    color: white;
}

/* Fonctionnement */

.fonctionnement{
    margin: 1rem;
}

.fonctionnement h2{
    margin-top: 2.5rem;
}

.fonctionnement_boutons {
    
}

.fonctionnement_bouton{
    display: flex;
    align-items: center;
    background-color: $background-color;
    border-radius: 15px;
    width: 300px;
    height: 65px;
}

.fonctionnement_bouton p:first-child{
    background-color: #9356DC;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
