/* MIXIN */

@mixin flex_all_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin margin_zero {
    margin: 0;
}

@mixin bouton_degrade_rose_violet_arrondi {
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    display: flex;
    width: 220px;
    height: 50px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 0px 10px 20px -13px #585858;
}

/* VARIABLE */

$color-grey: #F6F6F6;

$color-white: #FFFFFF;

$font-bold: bold;

$font-logo-titre: "Shrikhand", serif;

$degrade_rose_violet: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

/* Global */

* {
    font-family: "Roboto", sans-serif;
}

body{
    @include margin_zero;
}

/*Header*/

h1{
    font-family: $font-logo-titre;
    @include flex_all_center;
    margin: 0.5rem;
}

/* Localisation + Explication */

.place{
    @include flex_all_center;
    background-color: #EAEAEA;
    gap: 1rem;
    box-shadow: 0px 0px 10px -1px #585858;
    margin-bottom: 3px;

    i{
        color: #353535;
    }

    p{
        font-weight: $font-bold;
    }

}

.reservation{
    background-color: $color-grey;
    @include flex_all_center;
    flex-direction: column;

    h2 {
       @include margin_zero;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        text-align: center;
        font-size: 24px; 
    }

    p {
        font-weight: 300;
        text-align: center;
        font-size: 18px; 
    }
}

.reservation_bouton {
    @include bouton_degrade_rose_violet_arrondi;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: $color-white;
}

/* Fonctionnement */

.fonctionnement{
    margin: 1rem;
    margin-bottom: 4rem;
}

.fonctionnement h2{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.fonctionnement_boutons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fonctionnement_bouton_relative {
    position: relative;
    display: flex;
    justify-content: center;

  }

.bouton {
    /* position: relative; */
    overflow: hidden;
    height: 72px;
    width: 322px;
    background-color: $color-grey;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 2rem;
    box-shadow: 0px 0px 19px 1px #cecece;
  
    i{
        padding-left: 2rem;
        color: #7E7E7E;
    }

    p{
        font-weight: $font-bold;
        font-size: 16px;
    }
}

.bouton::before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    left: -1px;
    width: 24px;
    height: 24px;
    background-color: #9356DC;
    border-radius: 20px;
    color: $color-white;
}

.marqueur1::before{
    content: "1";
}

.marqueur2::before{
    content: "2";
}

.marqueur3::before{
    content: "3";
}

/* Restaurants */

.restaurants{
    background-color: $color-grey;
    padding: 1rem;


    h2{
        padding-top: 1rem;
        font-size: 24px;
        font-weight: $font-bold;
    }
}

.cartes_restaurants{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carte_restaurant{
    background-color: $color-white;
    border-radius: 15px;
    width: 340px;
    height: 251px;

    a{
        text-decoration: none;
        color: #000000;
    }
}

.carte_restaurant_nouveau_relatif{
    position: relative;
}

.carte_restaurant_img{

    img{
        width: 340px;
        height: 179px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
}

.carte_restaurant_img_after{
    img{
        width: 340px;
        height: 179px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
}

.carte_restaurant_img_after::after{
    content: "Nouveau";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 12px;
    left: 250px;
    width: 80px;
    height: 29px;
    font-size: 14px;
    font-weight: 500;
    background-color: #99E2D0;
    border-radius: 2px;
    color: #008766;
}

.carte_restaurant_description{
    display: flex;
    justify-content: space-between;
    align-items: center;

    div{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        
        h3{
            margin: 0;
            font-weight: 700;
            font-size: 18px;
        }

        p{
            margin: 0;
            font-weight: 300;
            font-size: 17px;
        }

        
    }
}

.carte_restaurant_coeur{
    padding: 0;
    .coeur_vide{
        color: #000000;
        z-index: 0;
    }

    .coeur_plein{
        color: transparent;
        z-index: 1;
        background-image: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
        background-clip: text;
        display: none;
    }
}

.carte_restaurant_coeur:hover{
    .coeur_vide{
        display: none;
        color: #000000;
    }

    .coeur_plein{
        display: inline;
    }
}

/* Footer */

footer{
    background-color: #353535;
    padding: 1rem;

    .footer_titre{
        margin: 0;
        font-family: $font-logo-titre;
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
    }

    nav{
        
        ul{
            list-style-type: none;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            gap: 7px;
            li{
                a{
                    color: #FFFFFF;
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-weight: 300;

                    i{
                        padding-right: 1rem;
                    }
                }
            }
        }
        
    }
}

/* La palette du gout */

