$color-grey: #F6F6F6;

$color-white: #FFFFFF;

$font-bold: bold;

$font-logo-titre: "Shrikhand", serif;

$degrade_rose_violet: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);